$lightgrey: #dddddd;
$textcolor: #4B4B4B;

html {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif; 
}



nav {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 24px 10px;
  font-family: 'open-sans-bold', AvenirNext-Medium, sans-serif;
  font-size: 16px;
  text-align: center;
}

nav li a {
  text-decoration: none;
  text-align: center;
  color: #757575;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #34495E;
}


/* This class is added on scroll */
.fixed {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
}


a.active {
  border-bottom: 2px solid #ecf0f1;
}


.main-container { 
  background-color: #00b6e3;
  width: 100%; 
  margin: 0 auto;
}






div.image {
  content: url(logo.svg);
  margin-left: auto;
  margin-right: auto;
    padding: 30px 0 0 0 ;
    width: 120px;
    height: 120px;

}

h1 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  letter-spacing: 10px;
  font-size: 25px;
  line-height: 1.4;
  color: #ffffff;
}

p.header {
  text-align: center;
  font-weight: normal;
  letter-spacing: 2px;
  color: #ffffff;
  padding-bottom: 20px;
  margin-bottom: 0;
}


#faq-container {

  width: 70%;
  margin: 0 auto;
}



.live-search-box {
  width: 100%;
  display: block;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #3498db;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


h2 {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
}

.topic {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  border-bottom: solid 1px #ebebeb;
}

.open {
  cursor: pointer;
  display: block;
  padding: 0px;
}

.open:hover {
  opacity: 0.7;
}

.expanded {
  background-color: #eeeeee;
  transition: all .3s ease-in-out;
}

.ptag {
  display: none;
}

.question {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 10px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #00B0FF;
}

.answer {
  color: #000000;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 1px;
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-weight: normal;
}

.faq-t {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  float: right;
  position: relative;
  top: -25px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  transition: all .3s ease-in-out;
}

.faq-o {
  top: -20px;
  -moz-transform: rotate(-224deg);
  -ms-transform: rotate(-224deg);
  -webkit-transform: rotate(-224deg);
  transform: rotate(-224deg);
}


header, footer {
    margin-top: 50px;
    padding: 20px;
    color: white;
    background-color: #00b6e3;
    clear: left;
    text-align: center;
}

footer > .description {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

footer > .copyright {
  font-size: 10px;
}